.back-link {
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: opacity 0.3s, color 0.3s;
}

.back-link i {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.6);
}

.back-link:hover i {
    color: #000;
}

.back-link:focus {
    outline: none;
}

.product-details {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.product-details .product-image{
    width: 50%;
    margin-right: 30px;
    margin-top: 30px;
}

.product-details .product-image img{
    width: 100%;
    height: 100%;
    
}

.product-details .product-info .info-row{
    margin-left: 30px;
    margin-bottom: 20px;

}

.product-info{
    margin-top: 25px;
}

.info-label {
    font-weight: bold;
}


.info-row{
    max-width: 600px;
}
