@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins" , sans-serif;
}
a{
  text-decoration: none;
}
body{
    position: relative;
  min-height: 100vh;
  width: 100%;
  background: #EEECEB;
}
footer{
  background: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer .content{
  width: 91%;
  margin: auto;
  padding: 23px 0px 0px 0px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}
footer .content .top .logo-details{
  width: 100%;
  color: #005745;
  font-size: 36px;
}
footer .content .top .detail-right{
  text-align: right;
}
footer .content .top .detail-center{
  text-align: center;
}
footer .content .top .logo_name{
    font-size: 18px;
    vertical-align: 5px;
    color: #000000;
}
footer .content .link-boxes{
  border-top: 1px solid black;
  padding-top: 23px;
  padding-bottom: 17px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
footer .content .link-boxes .box .link_name{
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
}
footer .link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
footer .content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
footer .content .link-boxes .box li a{
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

footer .content .link-boxes .box .info, footer .content .link-boxes .box .email{
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

footer .content .link-boxes .box .info{
  padding-top: 4px;
}

footer .content .link-boxes .box .contact{
  display: inline;
}

footer .content .link-boxes .box .contact i{
  font-size: 40px;
  margin-right: 10px;
}

footer .content .link-boxes .box .face i{
  color: #1877F2;
}

footer .content .link-boxes .box .twit i{
  color: #1DA1F2;
}

footer .content .link-boxes .box .inst i{
  color: #E4405F;
}

footer .content .link-boxes .box .yout i{
  color: #FF0000;
}

footer .content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
footer .bottom-details{
  width: 92%;
  background: #fff;
  margin: auto;
  /* padding: 23px 40px 40px 40px; */
}
footer .bottom-details .bottom_text{
  border-top: 1px solid black;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .bottom-details .bottom_text span,
footer .bottom-details .bottom_text a{
  font-weight: bold, 20px;
  font-size: 16px;
  color: #000000;
  /* opacity: 0.8; */
  text-decoration: none;
}
footer .bottom-details .bottom_text .main_logo{
  margin-right: 10px;
}
footer .bottom-details .bottom_text .main_logo a{
  color: #005745;
}
footer .bottom-details .bottom_text .main_logo a:hover{
  text-decoration: none;
}
footer .bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
footer .bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 1000px){
  footer .content .top .logo-details{
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  footer .content .top .logo-details{
    font-size: 26px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  footer .bottom-details .bottom_text span,
  footer .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}



nav{
  position: fixed;
  background-color: #005745;
  width: 100%;
  padding: 0.7rem 0;
  /* position: fixed; */
  top: 0;
  z-index: 999;

}

.navbar.small {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  height: 52px;
  padding: 0.2rem 0;
  transition: all 0.3s ease;
}

nav h2{
  color: #fff;
}

nav .container{
  width: 89%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .search-bar{
  background-color: hsl(252, 30%, 95%);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease;
}

nav .search-bar.small{
  padding: 0.4rem 1rem;
  transition: all 0.1s ease;
}

nav .search-bar input[type="search"]{
  border: none;
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: hsl(252, 30%, 17%);
}

nav .button{
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .btn{
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background-color: hsl(252, 75%, 60%);
  transition: all 300ms ease;
}

nav .content{
  display: flex;
}
nav .content a{
  padding: 10px;
  color: #fff;
}
nav .dropdown-account{
  margin: auto;
}
nav .dropdown-hotline{
  margin: auto;
}
.acc-btn a, .hotl-btn a{
  display: block;
  color: #000000;
}
.acc-btn span, .hotl-btn span{
  color: #000000;
}
.hotl-btn .inf-btn{
  color: #c72b2b;
  font-weight: bold;
}
.acc-btn{
  display: flex;
  position: absolute;
  top: 55px;
  right: 6%;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000000;
}

.hotl-btn{
  font-size: 15px;
  width: 260px;
  display: flex;
  position: absolute;
  top: 55px;
  right: 13%;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000000;
}

.acc-btn.small, .hotl-btn.small{
  top: 45px;
}

.acc-btn a:hover, .hotl-btn a:hover{
  background-color: #ccc;
}
.acc-btn a:hover span, .hotl-btn a:hover span{
  color: #005745;
}

.dropdown-account:hover .acc-btn {
  display: block;
}

.dropdown-hotline:hover .hotl-btn{
  display: block;
}

@media (max-width: 1100px) {
  .acc-btn{
    right: 6%;
  }
  .hotl-btn{
    right: 16%;
  }
  nav .search-bar input[type="search"]{
    width: 20vw;
  }
}

@media (max-width: 890px){
  nav .container .name_web h2{
    font-size: 18px;
  }
}

@media (max-width: 830px) {
  nav .content .my-content {
    display: none;
  }
  nav .content .acc-btn , nav .content .hotl-btn{
    display: none;
  }
  .dropdown-account:hover .acc-btn {
    display: none;
  }
  .dropdown-hotline:hover .hotl-btn{
    display: none;
  }
}


.main{
display: flex;
flex-wrap: wrap;
width: 92%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
background-color: #fff;
}

.main .content{
width: 100%;
display: block;
font-size: 20px;
font-weight: bold;
color: #005745;
margin-bottom: 10px;
/* position: relative; */
}
.main .content #showmenu{
    width: 177px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: block;
    margin-left: 8px;
    font-weight: bold;
    color: #005745;
}
.main .content #showmenu span{
    border: 1px solid;
    border-radius: 50px;
    padding: 5px;
    background-color: #4b474538;
}
.main .content #showmenu i{
    color: #005745;
    font-size: 20px;
}
.main .content i{
color: rgb(215, 48, 11);
font-size: 25px;
margin-right: 10px;
margin-top: auto;
margin-bottom: auto;
}
.main .content span{
margin-top: auto;
margin-bottom: auto;
}
.main .content .home{
margin-left: 8px;
opacity: 0.5;
}
.main .content .home .xs{
margin-right: 10px;
margin-left: 10px;
}
.main .prd{
position: relative;
display: flex;
align-items: center;
margin-top: 10px;
padding-bottom: 8px;
margin-right: 8px;
margin-left: 8px;
/* margin: auto; */
/* display: inline-block; */
width: calc(((100% + 10px) / 4) - 20px);
}
@media (max-width: 1100px) {
.main .prd{
    width: calc(((100% + 20px) / 5) - 20px);
}
}
@media (max-width: 950px) {
.main .prd{
    width: calc(((100% + 10px) / 4) - 20px);
}
}
@media (max-width: 780px) {
.main .prd{
    width: calc(((100% + 10px) / 3) - 20px);
}
}
@media (max-width: 590px) {
.main .prd{
    width: calc(((100% + 5px) / 2) - 20px);
}
}
.main .prd .work{
transition: all 0.5s ease;
text-align: center;
width: 70px;
position: absolute;
bottom: 11px;
right: 10px;
font-size: 18px;
/* text-align: left; */
border: 1px solid;
}

.main .prd a:hover img{
    transform: scale(1.1);
}

.main .prd .work .add{
transition: all 0.1s ease;  
margin-left: 5px;
margin-top: 3px;
display: none;
font-size: 15px;
}

.main .prd .work:hover .add{
display: block;
display: inline;
font-weight: bold;
}
.main .prd:hover {
    box-shadow: 0 0 3px 3px rgba(102, 99, 99, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.main .prd .cnt{
height: 20vw;
width: 100%;
overflow: hidden;
border-radius: 8px;
}
.main .prd .cnt img{
height: 20vw;
width: 100%;
border-radius: 8px;
transition: transform 0.3s;
}

.main .prd a{
width: 100%;
background: rgba(0,0,0,0);
color: #05963c;
text-decoration: none;
transition: all .15s ease-in-out;
}


.main .prd .card .container{
text-align: left;
font-weight: bold;
font-size: 15px;
color: #333;
}

.main .prd .container .name{
/* margin-left: 0px; */
/* margin-right: 3px; */
text-align: left;
}

.main .prd .container .name span{
color: #000;
font-size: 15px;
font-weight: 600;
line-height: 20px;
text-decoration: none!important;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
line-clamp: 2;
-webkit-box-orient: vertical;
min-height: 48px;
padding-top: 6px;
}

.main .prd .container .name span::after{
/* position: absolute; */
bottom: 0;
right: 0;
padding-left: 10px;
background-color: white;
}

.main .card .price{
margin-top: 5px;
margin-left: 1px;
text-align: left;
color: #05963c;
font-weight: 500;
font-size: 18px;
width: 50%;
}


.main img {
width: auto;
height: auto;
border-radius: 5px 5px 0 0;
}

.main .container {
padding: 2px 3px;
}

.main .more-prd{
margin-top: 20px;
margin-bottom: 10px;
width: 100%;
text-align: center;
}
.main .more-prd span{
padding: 5px 15px 5px 15px;
border: 1px solid;
border-color: #005745;
color: #005745;
}

.main .more-prd span:hover{
color:#05963c;
border-color: #05963c;
}


.mnsl{
position: relative;
display: flex;
z-index: 998;
left: 0;
top: 67px;
position: fixed;
width: 100%;
background-color: #cabebe56;
height: 100vh;
transform: translate(0);
display: none;
}
.mnsl.small{
    top: 50px;
}

.mnsl .menunow{
    z-index: 990;
    position: absolute;
    flex: 1;
    width: 260px;
    background-color: hsla(0,0%,100%,.95);
    height: 100vh;
}
.mnsl .out{
    text-align: center;
    z-index: 989;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #cabebe56;
    width: 100%;
    height: 100vh;
}
.mnsl .out .close{
    margin-top: 30px;
}
@media (max-width: 740px){
    .mnsl .out .close{
        display: none;
    }
  }
.mnsl .menunow .mn{
    font-size: 18px;
    font-weight: bold;
    color: #005745;
    padding-top: 30px;
    text-align: center;
}

.mnsl .menunow .product_menu{
    width: 100%;
    margin-top: 20px;
    color: #05963c;
}

.mnsl .menunow .product_menu ul{
    padding: 20px;
    width: 100%;
    list-style-type: none;
}

.mnsl .menunow .product_menu ul li{
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

.mnsl .menunow .product_menu a{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: block;
    border-bottom: 1px solid;
    font-size: 16px;
    color: #000;
    width: 100%;
    height: 100%;
}

.mnsl .menunow .product_menu a i{
    position: absolute;
    right: 4px;
    top: 5px;
}

.mnsl .menunow .product_menu a:hover{
    color: #005745;
    border-color: #005745;
    font-weight: bold;
}


.image_bar{
    /* position: relative; */
    text-align: center;
    min-height: 40px;
    align-items: center;
    width: 100%;
    height: 36vw;
}

.image_bar .chinh{
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    /* padding: 200px; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.18);
}

.image_bar .chinh img{
    top: 0;
    width: 100%;
    height: 100%;
}

.image_bar .bar_img{
    padding: 4%;
    top: 35%;
    font-size: 1.25rem;
    text-align: center;
    color: rgb(255,255,255);
    position: absolute;
    background-color: #0000008f;
}

@media (max-width: 800px){
    .image_bar .bar_img{
        font-size: 1rem;
    }
}
@media (max-width: 550px){
    .image_bar .bar_img{
        font-size: 0.5rem;
    }
}

